body{
    margin: 0;
    background-image: url('img/background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    background-size: cover;
}

/*----------------------------------------------------------*/

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100px;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background: rgba(149, 149, 149, 0.2);
    border-right: 3px solid black;
    align-items: center;
}

#logo-navbar{
    max-width: 60%;
    padding-top: 20px;
    padding-bottom: 50px;
}

.label{
    margin-left: 12px;
    margin-bottom: 40px;
    font-size: 20px;
    font-family: Futura Bk BT;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}

#see-underline, .label-underline{
    color: black;
    text-decoration: none;
    position: relative;
}

.label-underline:after{
    content: "";
    position: absolute;
    background-color: #FE7E83;
    height: 0;
    width: 2.5px;
    left: -5px;
    right: 0;
    bottom: 0;
    transition: 0.3s;
}

.label-underline:hover:after{
    height: 100%;
}

.label-underline:focus:after{
    height: 100%;
}

#see-underline:after{
    content: "";
    position: absolute;
    background-color: #FE7E83;
    height: 2px;
    width: 0;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}

#see-underline:hover:after{
    width: 100%;
}

/*----------------------------------------------------------*/

.home-container{
    display: flex;
    padding-left: 190px;
}

.home-text{
    flex: 0.8;
    padding-top: 60px;
    padding-right: 60px;
}

#hello-home{
    font-size: 55px;
    font-family: Futura Md BT;
    font-weight: bold;
    color: #FE7E83;
}

#intro-home{
    font-size: 55px;
    font-family: Futura Md BT;
    font-weight: bold;
}

#see-home{
    font-size: 20px;
    font-family: Futura Bk BT;
}

.home-photo{
    flex: 1;
    padding: 0;
    position: relative;
    top: 0;
    left: 0;
}

#bg-photo-home{
    opacity: 0.6;
    width: 712px;
    position: relative;
}

#photo-home{
    width: 600px;
    position: absolute;
    top: 0;
    left: 50px;
}

/*----------------------------------------------------------*/

.about-container{
    display: flex;
    margin-left: 100px;
    margin-top: 60px;
}

.about-bit{
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 40px;
    padding-bottom: 40px;
    flex: 1;
    background: rgba(126, 205, 248, 0.6);
    text-align: justify;
}

.header-about{
    font-family: Futura Bk Bt;
    font-weight: bold;
    font-style: italic;
    font-size: 30px;
}

.body-about{
    font-family: Futura Lt Bt;
    font-size: 18px;
}

.about-skills{
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 40px;
    padding-bottom: 40px;
    flex: 0.6;
    background: rgba(247, 208, 39, 0.6);
}

.skills-column{
    display: flex;
    font-family: Futura Lt Bt;
    font-size: 18px;
}

.first-column{
    flex: 1;
    margin-right: 30px;
}

.second-column{
    flex: 0.8;
}

.first-element{
    margin-top: 0px;
}