body{
    margin: 0;
    background-image: url('img/background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    background-size: cover;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100px;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background: rgba(149, 149, 149, 0.2);
    align-items: center;
}

#logo-navbar{
    max-width: 60%;
    padding-top: 20px;
    padding-bottom: 50px;
}

.label{
    margin-left: 12px;
    margin-bottom: 40px;
    font-size: 20px;
    font-family: Futura Bk BT;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}

.home-container{
    display: flex;
    padding-left: 190px;
}

.home-text{
    flex: 0.8;
    padding-top: 60px;
    padding-right: 60px;
}

#hello-home{
    font-size: 55px;
    font-family: Futura Md BT;
    font-weight: bold;
    color: #FE7E83;
}

#intro-home{
    font-size: 55px;
    font-family: Futura Md BT;
    font-weight: bold;
}

#see-home{
    font-size: 20px;
    font-family: Futura Bk BT;
}

.home-photo{
    flex: 1;
    padding: 0;
    position: relative;
    top: 0;
    left: 0;
}

#bg-photo-home{
    opacity: 0.6;
    width: 712px;
    position: relative;
}

#photo-home{
    width: 600px;
    position: absolute;
    top: 0;
    left: 50px;
}